<div class="panel-body">
  <div class="border margin p-3">
    <p class="h3 p-2 author-name">{{ directorDetail.nombre }}</p>
    <div class="row">
      <div class="col-md-3">
        <div class="thumb">
          <img
            class="img-fluid img-thumbnail border border-danger"
            src="{{ directorDetail.fotografia }}"
            alt="{{ directorDetail.nombre }}"
          />
        </div>
      </div>
      <div class="col-md-7">
        <dl>
          <dt class="text-title">Fecha de Nacimiento</dt>
          <dd class="text">{{ directorDetail.fechaNacimiento }}</dd>
          <dt class="text-title">Nacionalidad</dt>
          <dd class="text">{{ directorDetail.nacionalidad }}</dd>
          <dt class="text-title">Biografía</dt>
          <dd class="text">{{ directorDetail.biografia }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
