<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/img/popcorn.png"
        alt="Logo"
        width="35"
        height="30"
        class="d-inline-block-align-text-top"
      />
      Arte 7
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a
            class="nav-link active"
            aria-current="page"
            aria-expanded="false"
            (click)="redirectTo(['/pelicula/list', ''])"
            >Peliculas</a
          >
        </li>

        <li class="nav-item active">
          <a
            class="nav-link active"
            routerLink="/actor/list"
            aria-current="page"
            aria-expanded="false"
            >Actores
          </a>
        </li>

        <li class="nav-item active">
          <a
            class="nav-link active"
            routerLink="/director/list"
            aria-current="page"
            aria-expanded="false"
            >Directores</a
          >
        </li>
      </ul>
    </div>
    <div class="navbar-form navbar-left">
      <div class="input-group">
        <input
          type="text"
          id="busquedita"
          placeholder="Buscar películas"
          (mouseout)="busqueda()"
          (mouseup)="busqueda()"
        />
        <div class="input-group-btn">
          &nbsp;
          <button (click)="redirectTo(['/pelicula/list', valor])">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="white"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
