.plataforma {
  width: 170px;
  height: 170px;
  background-color: azure;
}

.premio {
  width: 400px;
  height: 100px;
  background-color: white;
}

#rating {
  width: 400px;
}

style {
  background-color: #0f090a;
}

body {
  background: #f4f4f4;
  display: flex;
}

#generos1 {
  width: 180px;
}

#generos2 {
  width: 180px;
}

#faq {
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

section.faq {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq ul {
  text-align: left;
}
.transition, content, ul li i:before, ul li i:after {
  transition: all 0.3s;
}

#faq .no-select, #faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#faq h2 {
  color: #cc071e;
  font-size: 20px;
  text-align: left;
  padding: 15px 15px 0;
  text-transform: none;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: .2s;
}

#faq content {
  color: #333;
  text-align: left;
  font-family: 'hm_light', sans-serif;
  font-size: 18px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  padding: 0 50px 0 15px;
  transition: .3s opacity, .6s max-height;
  hyphens: auto;
  z-index: 2;
}

#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding-bottom: 0px;
  padding-top: 0px;
  background: rgba(255, 255, 255, 0.779);
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
  -webkit-tap-highlight-color: transparent;
}
#faq ul li + li {
  /* Espacio entre acordeones */
  margin-top: 5px;
}

/* Cuadrar posición flecha v */
#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}
#faq ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #cc071e;
  width: 3px;
  height: 9px;
}
#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

/* Interactividad */
#faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
#faq ul li input[type=checkbox]:checked ~ h2 {
  color: #000;
}

#faq ul li input[type=checkbox]:checked ~ content {
  /*margin-top: 0;*/
  max-height: 0;
  transition: .3s;
  opacity: 0;
  /*transform: translate(0, 50%);*/
}
#faq ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#faq ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
