<h2>Filtros</h2>

<div id="faq">
  <ul>
    <li>
      <input type="checkbox" checked />
      <i></i>
      <h2>Fecha de estreno</h2>
      <content>
        <label for="fecha">Películas estrenadas desde: &nbsp;</label>
        <input
          type="date"
          id="fecha"
          name="fecha"
          value="2020-11-20"
          min="2000-01-01"
          max="2022-12-31"
          width="400px"
        /><input
          type="submit"
          value="Filtrar"
          (click)="redirectTo(['/pelicula/list', valor])"
          (mouseenter)="fechar()"
        />
      </content>
    </li>
    <li>
      <input type="checkbox" checked />
      <i></i>
      <h2>Plataforma</h2>
      <content>
        <form>
          <div class="row">
            <div class="col-sm">
              <input
                type="image"
                class="plataforma"
                src="assets/img/netflix.png"
                (click)="redirectTo(['/pelicula/list', 'netflix'])"
              />
            </div>
            <div class="col-sm">
              <input
                type="image"
                class="plataforma"
                src="assets/img/prime.png"
                (click)="redirectTo(['/pelicula/list', 'prime'])"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <input
                type="image"
                class="plataforma"
                src="assets/img/hbo.png"
                (click)="redirectTo(['/pelicula/list', 'hbo'])"
              />
            </div>
            <div class="col-sm">
              <input
                type="image"
                class="plataforma"
                src="assets/img/disney.png"
                (click)="redirectTo(['/pelicula/list', 'disney'])"
              />
            </div>
          </div>
        </form>
      </content>
    </li>
    <li>
      <input type="checkbox" checked />
      <i></i>
      <h2>Género</h2>
      <content>
        <form action="/action_page.php">
          <div class="row">
            <div class="col" id="generos1">
              <input type="button" id="accion" name="accion" value="Acción" />
              <label for="accion"></label><br />

              <input
                type="button"
                id="aventuras"
                name="aventuras"
                value="Aventura"
                (click)="redirectTo(['/pelicula/list', 'aventuras'])"
              />
              <label for="aventuras"></label><br />

              <input
                type="button"
                id="suspenso"
                name="suspenso"
                value="Suspenso"
                (click)="redirectTo(['/pelicula/list', 'suspenso'])"
              />
              <label for="suspenso"></label><br />

              <input
                type="button"
                id="comedia"
                name="comedia"
                value="Comedia"
                (click)="redirectTo(['/pelicula/list', 'comedia'])"
              />
              <label for="comedia"></label><br />

              <input
                type="button"
                id="drama"
                name="drama"
                value="Drama"
                (click)="redirectTo(['/pelicula/list', 'drama'])"
              />
              <label for="drama"></label><br />
            </div>
            <div class="col" id="generos2">
              <input
                type="button"
                id="cienciaficcion"
                name="cienciaficcion"
                value="Ciencia Ficción"
                (click)="redirectTo(['/pelicula/list', 'cienciaficcion'])"
              />
              <label for="cienciaficcion"></label><br />

              <input
                type="button"
                id="musical"
                name="musical"
                value="Musical"
                (click)="redirectTo(['/pelicula/list', 'musical'])"
              />
              <label for="musical"></label><br />

              <input
                type="button"
                id="fantasia"
                name="fantasia"
                value="Fantasía"
                (click)="redirectTo(['/pelicula/list', 'fantasia'])"
              />
              <label for="fantasia"></label><br />

              <input
                type="button"
                id="terror"
                name="terror"
                value="Terror"
                (click)="redirectTo(['/pelicula/list', 'terror'])"
              />
              <label for="terror"></label><br />

              <input
                type="button"
                id="infantil"
                name="infantil"
                value="Infantil"
                (click)="redirectTo(['/pelicula/list', 'infantil'])"
              />
              <label for="infantil"></label><br />
            </div>
          </div>
        </form>
      </content>
    </li>
    <li>
      <input type="checkbox" checked />
      <i></i>
      <h2>Premios ganados</h2>
      <content>
        <form>
          <input
            type="image"
            class="premio"
            src="assets/img/golden.png"
            (click)="redirectTo(['/pelicula/list', 'golden'])"
          />
          <input
            type="image"
            class="premio"
            src="assets/img/oscars.png"
            (click)="redirectTo(['/pelicula/list', 'oscars'])"
          />
        </form>
      </content>
    </li>
  </ul>
</div>
<br />
<mat-divider></mat-divider>

<button
  mat-button
  class="menu-button"
  (click)="redirectTo(['/pelicula/principal'])"
>
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>
