

<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >

    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-md-12 black">
        <app-barra-navegacion></app-barra-navegacion>
      </div>
    </div>
  </div>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <app-menu-filtros></app-menu-filtros>
  </mat-sidenav>

  <mat-sidenav-content>

       <!-- Main Router Outlet -->
      <div class="container-fluid" id="principal">
        <div class="row">
          <div class="col-md-6">
            <div>




              <h1 style="text-align:center">ACTORES</h1>
                <div style="text-align:center" class="buscar">
                <input type="text" placeholder="Buscar" required />


                </div>

              <app-actor-list></app-actor-list>




              <router-outlet></router-outlet>
            </div>
          </div>
          <div class="col-md-6">
            <div>





              <h1 style="text-align:center">DIRECTORES</h1>
              <div style="text-align:center" class="box">
                <div class="container-2">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="Search..." />
                </div>
              </div>
              <app-director-list></app-director-list>


              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>




