* [lang^=en] {
  color: green;
}

mat-toolbar {
  background: hsl(350, 25%, 5%);
  color: white;
  width: 100%;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #0f090a;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  width: 100%;
}
