<div class="container-fluid">
  <div class="row">
    <div class="col mb-2" *ngFor="let actor of actores">
      <div
        class="card p-2"
        style="width: 18rem; height: 33rem"
        *ngIf="selected == false"
      >
        <a class="card-block text-decoration-none" (click)="selectActor(actor)">
          <img
            class="card-img-top"
            src="{{ actor.fotografia }}"
            alt="{{ actor.nombre }}"
          />
          <div class="card-body">
            <h1 class="card-title">{{ actor.nombre }}</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-9" *ngIf="selected">
    <app-actor-detail [actorDetail]="selectedActor"></app-actor-detail>
  </div>
</div>
