<div class="container-fluid">
  <div class="row">
    <div class="col mb-2" *ngFor="let actor of actores">
          <div class="card p-2" style="width: 15rem; height: 33rem">
              <img
                class="card-img-top"
                src="{{ actor.fotografia }}"
                alt="{{ actor.nombre }}"
              />
              <div class="card-body">
                <h1 class="card-title">{{ actor.nombre }}</h1>
              </div>
           </div>
      </div>
   </div>
</div>
