<div class="panel-body">
  <div class="border margin p-3">

    <p class="h3 p-2 author-name">{{ actorDetail.nombre }}</p>

    <div class="row">
      <div class="col-md-3">
        <div class="thumb">
          <img
            class="img-fluid img-thumbnail border border-danger"
            src="{{ actorDetail.fotografia }}"
            alt="{{ actorDetail.nombre }}"

            alt="nomre generico"
          />
        </div>
      </div>
      <div class="col-md-7">
        <dl>
          <dt class="text-title">Fecha de Nacimiento</dt>
          <dd class="text">{{ actorDetail.fechaNacimiento }}</dd>


          <dt class="text-title">Nacionalidadd</dt>
          <dd class="text">{{ actorDetail.nacionalidad }} </dd>


          <dt class="text-title">Biografía</dt>
          <dd class="text">{{ actorDetail.biografia }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
