<div class="panel-body">
  <div class="border margin p-3">
    <!-- <p class="h3 p-2 author-name">{{ actorDetail.nombre }}jhonny depp</p> -->
    <p class="h3 p-2 author-name">jhonny depp</p>

    <div class="row">
      <div class="col-md-3">
        <div class="thumb">
          <img
            class="img-fluid img-thumbnail border border-danger"
            src="{{ actorDetail.fotografia }}"
            alt="{{ actorDetail.nombre }}"

            alt="nomre generico"
          />
        </div>
      </div>
      <div class="col-md-7">
        <dl>
          <dt class="text-title">Fecha de Nacimiento</dt>
          <!-- <dd class="text">{{ actorDetail.fechaNacimiento }} 69/699/420</dd> -->
          <dd class="text">69/69/420</dd>

          <dt class="text-title">Nacionalidadd</dt>
          <!-- <dd class="text">{{ actorDetail.nacionalidad }} USA</dd> -->
          <dd class="text"> USA</dd>


          <dt class="text-title">Biografía</dt>
          <!-- <dd class="text">{{ actorDetail.biografia }}es un actor, productor de cine y músico estadounidense. Ha sido nominado en tres ocasiones al Óscar y recibió un Globo de Oro,​ un premio del Sindicato de Actores y un César.</dd>-->
          <dd class="text">es un actor, productor de cine y músico estadounidense. Ha sido nominado en tres ocasiones al Óscar y recibió un Globo de Oro,​ un premio del Sindicato de Actores y un César.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
