<div class="container-fluid">
  <p class="h3 p-3">{{ peliculaDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ peliculaDetail.poster }}"
          alt="{{ peliculaDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt class="bold">Actores</dt>
        <dd class="caption" *ngFor="let actor of peliculaDetail.actores">
          <a> {{ actor.nombre }}</a>
        </dd>

        <hr />

        <dt class="bold">Directores</dt>
        <dd class="caption" *ngFor="let director of peliculaDetail.directores">
          <a>{{ director.nombre }}</a>
        </dd>

        <hr />

        <dt class="bold">Duracion</dt>
        <dd class="caption">{{ peliculaDetail.duracionSec }}</dd>

        <hr />

        <dt class="bold">Fecha de estreno</dt>
        <dd class="caption">{{ peliculaDetail.fechaEstreno }}</dd>

        <hr />

        <dt class="bold">Pais</dt>
        <dd class="caption">{{ peliculaDetail.pais }}</dd>

        <hr />

        <dt class="bold">Estrellas promedio</dt>
        <dd class="caption">{{ peliculaDetail.estrellasPromedio }}</dd>

        <hr />

        <dt class="bold">Reseñas</dt>
        <app-Resenha-list [resenhas]="peliculaDetail.resenhas"></app-Resenha-list>

      </dl>
    </div>
  </div>
</div>
