<div class="container-fluid">
  <p class="h3 p-3">{{ peliculaDetail._nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ peliculaDetail._poster }}"
          alt="{{ peliculaDetail._nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Actores</dt>
        <dd class="caption" *ngFor="let actor of peliculaDetail.actores">
          {{ actor.nombre }}
        </dd>
        <dt>Directores</dt>
        <dd class="caption" *ngFor="let director of peliculaDetail.directores">
          {{ director.nombre }}
        </dd>

        <dt>Duracion (en segundos)</dt>
        <dd>{{ peliculaDetail._duracionSec }}</dd>
        <hr />
        <dt>Pais productor</dt>
        <dd>{{ peliculaDetail._pais}}</dd>
        <hr />
        <dt>Fecha de estreno</dt>
        <dd>{{ peliculaDetail._fechaEstreno}}</dd>
        <hr />
        <dt>Link</dt>
        <dd>{{ peliculaDetail._url}}</dd>
        <hr />
        <dt>Visitas</dt>
        <dd>{{ peliculaDetail._visitas}}</dd>
        <hr />
        <dt>Calificacion (sobre 5)</dt>
        <dd>{{ peliculaDetail._estrellasPromedio}}</dd>
        <hr />
        <dt class="bold">Description</dt>
        <dd>{{ peliculaDetail._descripcion }}</dd>
      </dl>
    </div>
  </div>
</div>
