img {
  height: 425px;
  max-width: 1000px;
}

.img-actor{
  height: 155px;
  width: 150px;
}

.card {
  margin: 0 0.7em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  background-color: rgb(27, 27, 27);
}

.card-body{
  color: white
}

.p-top{
  color:rgb(200, 200, 200)
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}
/* Boostrap Buttons Styling */

.btn-default {
  font-size: 13px;
  color: rgb(200, 200, 200);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(202, 24, 0, 0.75);
  border: 2px solid rgba(202, 24, 0, 0.75);
}
